[Unit]
Description=tinc VPN Configuration Auto-Update Service
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/project-earthgrid/tinc/scripts/update-config.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
