Name = ${NODE_NAME}
Interface = tun0
Mode = switch
AddressFamily = ipv4
Port = 655
LocalDiscovery = yes
AutoConnect = yes
PingTimeout = 30
PriorityInheritance = yes
ProcessPriority = high
${CONNECT_TO_NODES}