# Tahoe-LAFS Introducer Configuration for Earthgrid

[node]
nickname = %NICKNAME%
web.port = %INTRODUCER_PORT%
web.static = public_html
tub.port = %INTRODUCER_PORT%
tub.location = localhost:%INTRODUCER_PORT%
timeout.keepalive = 240
timeout.disconnect = 600